@import './variables.scss';
@import './_mixins.scss';

@for $i from 0 through 8 {
  .pb-#{$i} {
    padding-bottom: pow($i, 2) * 1px;
  }

  .pa-#{$i} {
    padding: pow($i, 2) * 1px;
  }

  @each $label, $size in $breakpoints {
    .pa-#{$label}-#{$i} {
      @media (min-width: $size) {
        padding: pow($i, 2) * 1px;
      }
    }

    @media (min-width: $size) {
      .pb-#{$label}-#{$i} {
        padding-bottom: pow($i, 2) * 1px;
      }
    }
  }
}
