@import './variables.scss';

$gutter: 30px;

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $md) {
    width: 900px;
  }

  @media (min-width: $lg) {
    width: 1185px;
    max-width: 1185px;
  }

  @media (min-width: $xl) {
    width: 1785px;
    max-width: 1785px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;

    &--align-items-center {
      align-items: center;
    }

    &--justify-content-center {
      justify-content: center;
    }

    .col {
      flex-basis: 100%;

      @mixin set-flex($val) {
        flex-basis: 100% * ($val / 12);
      }

      @for $i from 1 through 12 {
        &--#{$i} {
          @include set-flex($i);
        }

        @each $label, $size in $breakpoints {
          &--#{$label}-#{$i} {
            @media (min-width: $size) {
              @include set-flex($i);
            }
          }
        }
      }
    }
  }
}
