@import './variables.scss';
@import './grid.scss';
@import './_mixins.scss';
@import './_spacing.scss';

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $bg-color;
}

body {
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: $head-font;
  color: black;
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;

  @media (min-width: $md) {
    font-size: 5rem;
    line-height: 5rem;
  }

  text-shadow: 1px 1px 1px $accent, 2px 2px 1px $accent, 3px 3px 1px $accent;
}

h2 {
  font-size: 3rem;
  line-height: 3rem;

  @media (min-width: $md) {
    font-size: 4rem;
    line-height: 4rem;
  }
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}

p {
  font-family: $body-font;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 0;
}

#app {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

.text-center {
  text-align: center;
}

.fill {
  position: relative;
  height: 100%;
}

.icon {
  margin: 5px;
  color: $primary;
}
