@page {
  margin: 0mm;
}

.v-application {
  h1,
  h2,
  h3,
  h4,
  .title,
  .display-1,
  .headline {
    font-family: 'Darker Grotesque', sans-serif !important;
  }

  h1 {
    font-size: 5em;
    text-align: center;
  }

  h2 {
    font-size: 4em;
  }

  h3 {
    font-size: 3em;
  }

  .title {
    font-size: 2em !important;
  }

  .v-footer span {
    margin: auto;
  }

  code {
    box-shadow: none;
    all: unset;
  }

  @media print {
    h1 {
      font-size: 3.5em;
      text-align: center;
    }

    h2 {
      font-size: 2.5em;
    }

    h3 {
      font-size: 1.5em;
    }

    p {
      text-align: justify;
      font-size: 0.8em;
      line-height: 1.3rem;
    }

    li {
      font-size: 0.8em;
    }

    .body-1 {
      line-height: 1.4rem;
    }

    .title {
      line-height: 2.2rem;
    }
  }
}
