@import './variables.scss';

h1,
h2,
h3,
h4 {
  font-family: $head-font;
  color: black;
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;

  @media (min-width: $md) {
    font-size: 5rem;
    line-height: 5rem;
  }

  text-shadow: 1px 1px 1px var(--v-accent-base),
    2px 2px 1px var(--v-accent-base), 3px 3px 1px var(--v-accent-base);
}

h2 {
  font-size: 3rem;
  margin: 2.5rem 0;
  line-height: 3rem;

  @media (min-width: $md) {
    font-size: 4rem;
    line-height: 4rem;
  }
}

h3 {
  font-size: 2.7rem;
  line-height: 2.75rem;
  margin: 1.5rem 0;
}

h4 {
  font-size: 2.3rem;
  line-height: 2.3rem;
  margin: 1.5rem 0;
}

p {
  font-family: $body-font;
  font-weight: 300;
  font-size: 24px;
}

#app {
  position: relative;
  background-color: white;
  transition: background-color 0.5s;

  &.bg-green {
    background-color: cadetblue;
  }
}

.text-center {
  text-align: center;
}

.icon {
  margin: 5px;
  color: var(--v-primary-base);
}

img {
  max-width: 100%;
}
